<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bath.mindpalaceapp">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateNote" />
        <activity android:name=".CreatePalace" />
        <activity android:name=".ViewNote"/>
        <activity android:name=".ViewPalace"/>
        <activity android:name=".MainMenu" />
        <activity android:name=".CreateMenu" />
        <activity android:name=".TrainMenu" />
        <activity android:name=".TrackMenu" />
        <activity android:name=".SettingsMenu"/>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".NoteDetails"/>
        <activity android:name=".SelectImage"/>
        <activity android:name=".CreatePalaceInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".CreateMenuInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".TrainMenuInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".TrackMenuInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".SettingsMenuInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".CreateNoteInfo"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.UserDialog"/>
    </application>
</manifest>